@font-face {
    font-family: 'Comfortaa';
    src: url(Comfortaa/static/Comfortaa-Regular.ttf);
}
*
{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 3vh;
}

nav ul li a
{
    text-decoration: none;
    color: #f0f0f0 ;
    font-size: 1.1em;
}

nav ul li a:hover + nav ul li
{
    background-color: #88D5E9;
}





.bg
{
    width: 100%;
    height: 100vh;
    background-image: url(./img/img1.jpg);
    /* background: url(https://source.unsplash.com/random/1920×1080/?mountain); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.bg canvas
{
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
}

.bg .hero
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
}

.bg .hero .kolom-hero
{
    width: 60%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: rgba(247, 247, 247, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg .hero .kolom-hero .top
{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg .hero .kolom-hero .top #quote
{
    text-align: center;
    width: 80%;
    font-family: 'Comfortaa';
    color: #f7f7f7;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 30px;
}
.bg .hero .kolom-hero .top .author
{
    text-align: center;
    width: 70%;
    font-family: 'Comfortaa';
    color: #f7f7f7;
    font-style: italic;
    font-size: 14px;
}

.bg .hero .kolom-hero .bot
{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg .hero .kolom-hero .bot button
{
    width: 30%;
    height: 40%;
    background: rgba(247, 247, 247, 0.2);
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-style: italic;
    color: #f7f7f7;
    transition: 0.25s;
}

.bg .hero .kolom-hero .bot button:hover
{
    color: #f0f0f0;
    background-color: #333;
}

@media screen and (max-width: 680px) {
    .bg .hero .kolom-hero
    {
        height: 45vh;
    }
    .bg .hero .kolom-hero .top #quote
    {
        font-size: 14px;
        margin-top: 30px;
    }
    .bg .hero .kolom-hero .top .author
    {
        font-size: 10px;
        margin-top: 10px;
    }
    .bg .hero .kolom-hero .bot button
    {
        width: 30%;
        height: 30%;
        font-size: small;
        color: #f7f7f7;
        transition: 0.25s;
    }
}


/* .thr
{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url(./img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100000;
}

.thr .canvas
{
    width: 100%;
    height: 100vh;
    position: absolute;

}
.thr .isi
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;        
}

.thr .content
{
    width: 90%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
}

.kolom
{
    margin: 50px;
    width: 28%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s ease;
}

.kolom:hover
{
    width: 30%;
    height: 100%;
}

.kolom .atas
{
    width: 100%;
    height: 70%;
    background: #2c3e50;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom .atas img{
    width: 95%;

}
.kolom .tengah
{
    width: 100%;
    height: 8%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #232323;
}


.kolom .bawah
{
    width: 100%;
    height: 22%;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.kolom .bawah p
{
    text-align: center;
    width: 80%;
    height: auto ;
    font-size: 1rem;
}

.kolom2
{
    width: 72%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kolom2 form{
    width: 80%;
}

.kolom2 form .form-style-1 {
	width: 100%;
    height: 100%;
    padding: 0;
}
.form-style-1 li {
	padding: 0;
    width: 100%;
	display: block;
	list-style: none;
	margin: 20px 0 0 0;
}
.form-style-1 label{
	margin:0 0 5px 0;
	padding:0px;
	display:block;
	font-weight:600;
    font-size: 14px;
    color: #fff;
}
.form-style-1 input[type=text],.form-style-1 textarea
{
    width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
    border-radius: 5px;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus,
.form-style-1 textarea:focus
{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 100%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 200px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #f3f3f3;
	padding: 8px 15px 8px 15px;
	border: none;
    border-radius: 5px;
    color: #232323;
    transition: 0.2s ease;
	
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #2c3e50;
    color: #f3f3f3;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
} */


